<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Dashboard</title>
    <style>
        .plot-container {
            float: left;
            width: 70%;
        }

        .export-container {
            float: right;
            width: 30%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Welcome to the XGBoost Dashboard</h1>

    <form method="post" enctype="multipart/form-data" action="{{ url_for('xg.upload_file') }}">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>

    {% if error %}
    <p>Error: {{ error }}</p>
    {% endif %}

    {% if plot_exists %}
    <div class="plot-container">
        <h2>Prediction Plot: XGBoost</h2>
        <img src="{{ url_for('static', filename='prediction_xgplot.png') }}" alt="Prediction Plot">
    </div>
    <div class="export-container">
        <h2>Export Prediction Data:</h2>
        <form method="get" action="{{ url_for('xg.export') }}">
            <label for="document_name">Enter Document Name:</label>
            <input type="text" id="document_name" name="document_name">
            <button type="submit">Export</button>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Employee Count</th>
            </tr>
            {% for date, count in future_predicted_january_employee_count.items() %}
                {% if date >= tomorrow %}
                    <tr>
                        <td>{{ date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ count|round }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    
    
    {% endif %}
</body>

</html>
